.github/
.vs/
.vscode/

src/WebApi/bin
src/WebApi/obj
src/WebApi/WebApi.csproj.user

src/Application/bin
src/Application/obj
src/Application/Application.csproj.user

src/Domain/bin
src/Domain/obj
src/Domain/Domain.csproj.user

src/Infrastructure/bin
src/Infrastructure/obj
src/Infrastructure/Infrastructure.csproj.user

tests/WebApi.Tests/bin
tests/WebApi.Tests/obj
tests/WebApi.Tests/WebApi.Tests.csproj.user

tests/Application.Tests/bin
tests/Application.Tests/obj
tests/Application.Tests/Application.Tests.csproj.user

tests/Domain.Tests/bin
tests/Domain.Tests/obj
tests/Domain.Tests/Domain.Tests.csproj.user

tests/Infrastructure.Tests/bin
tests/Infrastructure.Tests/obj
tests/Infrastructure.Tests/Infrastructure.Tests.csproj.user

TemplateEngineHost
.idea/
.history/