.github/
.vs/
.vscode/

src/WebApi/bin
src/WebApi/obj
src/WebApi/WebApi.csproj.user

src/Application/bin
src/Application/obj
src/Application/Application.csproj.user

src/Domain/bin
src/Domain/obj
src/Domain/Domain.csproj.user

src/Infrastructure/bin
src/Infrastructure/obj
src/Infrastructure/Infrastructure.csproj.user

tests/WebApi.UnitTests/bin
tests/WebApi.UnitTests/obj
tests/WebApi.UnitTests/WebApi.UnitTests.csproj.user

tests/Application.UnitTests/bin
tests/Application.UnitTests/obj
tests/Application.UnitTests/Application.UnitTests.csproj.user

tests/Domain.UnitTests/bin
tests/Domain.UnitTests/obj
tests/Domain.UnitTests/Domain.UnitTests.csproj.user

tests/Infrastructure.UnitTests/bin
tests/Infrastructure.UnitTests/obj
tests/Infrastructure.UnitTests/Infrastructure.UnitTests.csproj.user

TemplateEngineHost
.idea/
.history/